{{ $nrm := resources.Get "css/normalize.css" }}
{{ $css := resources.Get "css/style.css" }}

{{ if hugo.IsProduction }}

{{ $nrm := $nrm | resources.Minify | resources.Fingerprint "sha512" }}
{{ $css := $css | resources.Minify | resources.Fingerprint "sha512" }}

<link rel="stylesheet" href="{{ $nrm.Permalink }}" integrity="{{ $nrm.Data.Integrity }}" />
<link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" />

{{ else }}

<link rel="stylesheet" href="{{ $nrm.Permalink }}" />
<link rel="stylesheet" href="{{ $css.Permalink }}" />

{{ end }}
