<!doctype html>
{{ with .Site.LanguageCode }}
<html lang="{{ . }}">
{{ end }}
{{ partial "head.html" . }}
<body>
    <div class="container">
        {{ $image := resources.Get "images/site-header.png" }}
        <picture>
            <source type="image/webp" srcset="
            {{ with $image.Resize "320x webp drawing" }} {{ .RelPermalink }} 320w{{ end }},
            {{ with $image.Resize "640x webp drawing" }} {{ .RelPermalink }} 640w{{ end }},
            {{ with $image.Resize "800x webp drawing" }} {{ .RelPermalink }} 800w{{ end }}" />
            <img srcset="
            {{ with $image.Resize "320x" }} {{ .RelPermalink }} 320w{{ end }},
            {{ with $image.Resize "640x" }} {{ .RelPermalink }} 640w{{ end }},
            {{ $img := $image.Resize "800x" }} {{ $img.RelPermalink }} 800w"  src={{ $img.RelPermalink }} width="6000" height="1492" alt="drawings of sine waves, contact mics, and various electroncis related patterns in bright colours on a yellow background." />
          </picture>

        {{ block "main" . }}{{ end }}

    </div>
</body>
</html>